doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Eczar&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../public/img/logo.png" />
        link(rel="stylesheet", href="../public/css/changePassword.css")
        script(src="https://kit.fontawesome.com/a076d05399.js") 
        title Change Pasword
    body 

        div.content
            div.msg 
                p #{msg}
            div.card
                form(action="/changePassword", method="post") 
                    p.title Change Password
                    input(type="Password" name="oldPassword" placeholder="Enter Existing Password" required)
                    input(type="Password" name="password" placeholder="Enter New Password" required)
                    input(type="Password" name="confirmPassword" placeholder="Confirm New Password" required)
                    input(type="submit" value="Submit")#btn
                
            div.button
                a(href="/accountSettings")#btn1 Return to Account Settings
        

        script(src="../public/scripts/changePassword.js") 