doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/dashboard.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Eczar&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../public/img/logo.png" />
        title Welcome to Police-X
    body 
        header#nav-area
        div#navbar
            a(href="http://policex.herokuapp.com").logo 
                div#logo
                    img(src="../public/img/logo.png", alt="", srcset="")
                    h1 #[span P]olice - X
            ul
                li #[a(href='/dashboard') Dashboard]
                //- li #[a(href="http://") About Us]
                li #[a(href="#news") News]
                li #[a(href="http://") Services] 
                form(action="/logout", method="post") 
                    button#btn Logout

        div#content
            div.userDashboard
                h1 USER DASHBOARD

            div.welcome
                p Welcome, #[span(style = "color: rgb(1, 75, 97); text-transform : uppercase; text-shadow: 0px 0 1px #000") #{fName} !]

            div.cards-section
                div.cards
                    div.card
                        a(href="/myProfile") 
                            <img class = "img" src="https://img.icons8.com/ios-filled/100/000000/user-male-circle.png"/>
                        a(href="/myProfile")  My Profile
                    div.card
                        a(href="/fileFIR") 
                            <img class="img" src="https://img.icons8.com/ios-filled/100/000000/policeman-male--v1.png"/>
                        a(href="/fileFIR")  File FIR 
                    div.card
                        a(href="myCases") 
                            <img class="img" src="https://img.icons8.com/ios-filled/100/000000/add-bookmark.png"/>
                        a(href="myCases")  My Cases
                div.cards
                    div.card
                        a(href="/inform") 
                            <img class="img" src="https://img.icons8.com/material-rounded/100/000000/info-squared.png"/>
                        a(href="/inform")  Inform about some mishappenings
                    div.card
                        a(href="/missingPerson") 
                            <img class="img" src="https://img.icons8.com/carbon-copy/100/000000/ask-question.png"/>
                        a(href="/missingPerson")  Report Missing Person
                    div.card
                        a(href="/accountSettings") 
                            <img class="img" src="https://img.icons8.com/cotton/512/000000/settings--v1.png"/>
                        a(href="/accountSettings") Account Settings
                    