doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Eczar&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../public/img/logo.png" />
        link(rel="stylesheet", href="../public/css/editProfile.css")
        script(src="https://kit.fontawesome.com/a076d05399.js") 
        title Edit Profile
    body 
        header#nav-area
        div#navbar
            a(href="http://policex.herokuapp.com").logo 
                div#logo
                    img(src="../public/img/logo.png", alt="", srcset="")
                    h1 #[span P]olice - X
            ul
                li #[a(href='/dashboard') Dashboard]
                //- li #[a(href="http://") About Us]
                li #[a(href="#news") News]
                li #[a(href="http://") Services] 
                form(action="/logout", method="post") 
                    button#btn Logout

        div#content
            div.userDashboard
                h1 Edit Profile

            div.welcome
                p Welcome, #[span(style = "color: rgb(1, 75, 97); text-transform : uppercase; text-shadow: 0px 0 1px #000") #{fName} !]

            div.backButton  
                a(href="/myProfile") Back 
            
            div.msg
                p #{msg}

            div.form
                form(action="/editProfile", method="post" enctype = "multipart/form-data" onsubmit= "openModal()")
                    p INITIALS 
                    hr
                    div.initials
                        p First Name : #[span(style ="font-family: 'Chivo', sans-serif; font-size : 1.3rem") #{fName}]
                        p Last Name : #[span(style ="font-family: 'Chivo', sans-serif; font-size : 1.3rem") #{lName}]
                    
                    p UPLOAD IMAGES
                    hr
                    div.uploads
                        div.profilePhoto

                            div.yourPhoto
                                //- p  Profile Photo :
                            div.container1
                                div.msg1
                                    p Please upload Profile Photo !
                                div.wrapper1
                                    div.image
                                        img(src="" altsrc="")#img1
                                    div.content
                                        div.icon
                                            i.fas.fa-cloud-upload-alt
                                        div.text Upload Profile Photo
                                    div#cancel-btn1
                                        i.fas.fas.fa-times
                                    div.file-name#fileName1
                                input(type="file" name="profilePhoto" hidden required)#default-btn1.input1
                                p.required Profile Photo
                                p(onclick ="defaultBtnActive1()")#custom-btn1 Choose a File
                        
                        div.aadharCardImage
                            div.yourPhoto
                                //- p  Aadhar Photo :
                            div.container2
                                div.msg2
                                    p Please upload Aadhar Card Image !
                                div.wrapper2
                                    div.image
                                        img(src="" altsrc="")#img2
                                    div.content
                                        div.icon
                                            i.fas.fa-cloud-upload-alt
                                        div.text Upload Aadhar Card Image
                                    div#cancel-btn2
                                        i.fas.fas.fa-times
                                    div.file-name#fileName2
                                input(type="file" name ="aadharCardImage" hidden required)#default-btn2.input2
                                p.required Aadhar Card Image
                                p(onclick ="defaultBtnActive2()")#custom-btn2 Choose a File

                    p OTHER INFORMATION
                    hr

                    div.gender.otherInfo.display
                        p.title.required Gender :
                            div.radio-sec
                                input(type = "radio" name="gender" value="Male" required).radio
                                | Male

                                
                                input(type = "radio" name="gender" value="Female").radio
                                |  Female

                                    
                                input(type = "radio" name="gender" value="Others").radio
                                | Others 
                                
                        


                    div.sec2.display
                            p.title.required D.O.B :
                            input(type="date", name="dob" required)#dob.value.pointer

                    div.religion.display
                            p.title.required Religion :
                            select(name='religion' required).input.value.pointer.religion-input
                                option(disabled selected value) --Select a Religion--
                                option(value="Hindu") Hindu
                                option(value="Muslim") Muslim
                                option(value="Sikhs") Sikhs
                                option(value="Christian") Christians
                                option(value="Others") Others

                    div.cast.display
                        p.title.required Cast :
                            div.radio-sec
                                input(type = "radio" name="cast" value="SC" required).radio
                                | SC

                               
                                input(type = "radio" name="cast" value="ST").radio
                                |  ST

                                
                                input(type = "radio" name="cast" value="OBC").radio
                                | OBC

                               
                                input(type = "radio" name="cast" value="General").radio
                                | GEN   

                    div.phone.display
                        p.title.required Phone Number :
                        input(type="number", name="phoneNo" placeholder="10 digits Phone Number" required).value

                    div.aadharNo.display
                        p.title.required Aadhar Number :
                        input(type="number", name="aadharNo" placeholder="12 digits Aadhar Number" required).value
                
                    
                        

                    p ADDRESS DETAILS
                    hr

                    div.address.display
                        p.title.required Address : 
                        div.addresslines
                            input(type="text" name="addLine1" placeholder="Address Line 1" required).value
                            input(type="text" name="addLine2" placeholder="Address Line 2" required).value
                            input(type="text" name="addLine3" placeholder="Address Line 3" required).value

                    div.pincode.display
                        p.title.required Pincode : 
                        input(type="number" name="pincode" placeholder="Pincode" required).value


                    p DECLARATION
                    hr

                    div.undertaking
                        p I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief and I undertake the responsibility to inform about any changes therein, immediately.
                        input(type="checkbox", name="status" value = 1 required)
                        label(for="status") I agree to the above Terms & Conditions

                    div.submit
                        input(type="submit", value="Submit").submit

                    div.modal#modal
                        div.modal-body
                            img(src="../public/img/loader.gif", alt="", srcset="")
                            p Uploading ! Please Wait ...

                    div.modal2
                        p Profile Photo and Aadhar Card Image is necessary...

                    div#overlay




        script(src="../public/scripts/editProfile.js") 