doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Eczar&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../public/img/logo.png" />
        link(rel="stylesheet", href="../public/css/resetPassword.css")
        title Reset Your Password
    body 

        div.content

            div.msg 
                p.msg An Email with the OTP has been sent to your Email ID
                
            div.card
                form(action="/resetPassword", method="post") 
                    p.title Forgot Password
                    div.emailAdd
                        input(type="email" name='emailAdd' readonly value=`${emailAdd}`)
                    div.otp
                        input(type="number", placeholder='Enter 6 digits OTP' name='OTP' required)
                    div.newPass
                        input(type="password" placeholder="Enter new Password" name='pass' required)
                    div.cNewPass
                        input(type="password" placeholder="Confirm new Password" name='cpass' required)
                    div.submit
                        input(type="submit", value="Submit")#btn