*{
    margin : 0;
    padding : 0;
}


html{
    background-color: rgb(207, 207, 207);
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgb(224, 224, 224);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #40D3DC; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36c1c9; 
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.msg{
    position: absolute;
    top: 12%;
    font-size: 1.1rem;
    font-family: 'chivo', sans-serif;
    font-weight: bold;
    color: rgb(218, 1, 1);
    user-select: none;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg , rgba(3, 70, 170, 0.8), rgba(0,0,0,0.8));
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.title{
    font-size: 1.4rem;
    font-family: 'chivo', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    user-select: none;
    margin: 0 0 15px 0;
}

.card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input{
    margin: 10px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    width: 80%;
    font-size: 1.1rem;
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    
}

#btn{
    background-color:  rgb(29, 206, 230);
    transition-duration: 0.3s;
    cursor: pointer;
}

#btn:hover{
    background-color:  rgb(25, 185, 206);
}

.button{
    margin-top: 50px;
}

#btn1{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    color: black;
    background-color:rgb(98, 211, 240);
    padding : 10px 50px;
    border-radius: 100px;
    transition-duration: 0.3s;
}

#btn1:hover{
    background-color:rgb(47, 193, 230);
}
