*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    color: black;
    
}

#nav-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.4s;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: 1;
    
    
}

#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    user-select: none;
    font-family: 'Eczar', serif;
    
    
}

#logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#navbar img{
    width: 70px;
}

#navbar h1{
    font-family: 'Chivo', sans-serif;
    padding-left: 20px;
    font-size: 2.5rem;
}

#navbar h1 span{
    font-size: 3.5rem;
    color: rgb(248, 209, 37);
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    padding: 0 30px;
    list-style: none;
    font-size: 1.6rem;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.banner-area img{
    width: 100vw;
    height: 100vh;
}

.slider{
    overflow: hidden;
}

.slides{
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100vw;
    transition: 2s;
}

.navigation-manual{
    position: absolute;
    /* width: 800px; */
    right: 15px;
    top: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.manual-btn{
    margin: 5px;
    border: 2px solid #40D3DC;
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.manual-btn:hover{
    background-color: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition: 1s;
}

#radio2:checked ~ .first{
    margin-left: -100vw;
    transition: 1s;
}

#radio3:checked ~ .first{
    margin-left: -200vw;
    transition: 1s;
}

#radio4:checked ~ .first{
    margin-left: -300vw;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    /* width: 800px; */
    right: 15px;
    top: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navigation-auto div{
    margin: 5px;
    border: 2px solid #40D3DC;
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}

.scroll-down{
    position: absolute;
    filter: invert();
    bottom: 20px;
    left: 48vw;
    
        
}
.scroll-down img{
    width: 90px;
    cursor: pointer;
}


/* ----------------------------------------------------------------------------------------------- */

/* ------------------------------------------NEWS SECTION----------------------------------------- */

#news-section{
    background-color: white;
    margin: 0;
    padding: 100px;   
}

.heads{
    font-size: 2.5rem;
    font-family: 'Eczar', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(17, 17, 102);
}

.line{
    height: 4px;
    background-color: rgb(17, 17, 102);
}

.news{
    
    margin-top: 30px;
}

.news img{
    width: 350px;
}

.news1, .news2{
    display: flex;
    margin-bottom: 70px;
    
}

.news1 .text{
    padding: 0 0 0 50px;
}

.news2 .text{
    padding: 0 50px 0 0;
}

.text{
    height: 250px;
    overflow:auto;
    
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgb(224, 224, 224);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #40D3DC; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #36c1c9; 
    
  }

.text h3{
    font-size: 2.2rem;
    line-height: 40px;
    font-family: 'Eczar', serif;
    color: rgb(17, 17, 102);
}

.text p, .text ul, .text li{
    font-family: 'Chivo', sans-serif;
    font-size: 1.1rem;
}

.text a{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Eczar', serif;
    color: rgb(172, 14, 14);
    text-decoration: underline;
}

.text a:hover{
    color: red;
    transition-duration: 0.3s;
    

}


.services-section{
    background-color: rgb(11, 11, 24);
    padding: 100px;
    margin: 0;
}

.services-section h2{
    color: white;
}

.services-section .line{
    background-color: #fff;
}

.services{
    display: flex;
    text-align: center;
    /* margin: 80px 0; */
}

.services img{

    width: 250px;
    border-radius: 10px;
    border: 3px solid rgb(63, 63, 255);
    padding: 3px;
    box-shadow: 0px 0px 15px grey;
    margin: 80px 0 10px 0;

}

.stext{
    padding: 0 50px;
}

.stext h3{
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.3rem;
    font-family: 'Eczar', serif;
}

.stext p{
    color: white;
    font-family: 'Chivo', sans-serif;
}


.emergency-section{
    display: flex;
}

.emergency{
    /* background-color: #40D3DC; */
    width: 50%;
    /* padding: px; */
}

.word{
    font-size: 2rem;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    margin-top: 160px;
    color: rgb(9, 9, 43);

}

.word button{
    padding: 5px 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: 20px;
    border: 4px solid #40D3DC;
    color: #40D3DC;
    cursor: pointer;
    background: linear-gradient(to right, #40D3DC 50%, white 50%);
    background-size: 200% 100%;
    background-position: right  bottom;
    transition: all 0.2s ease-out;
}

.word button:hover{
    background-position: left bottom;
    color: white;
}

.pcar img{
    width: 800px;
    margin-top: 100px;
}


.location-section{
    display: flex;
    padding: 100px;
    margin: 50px 0 0 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 223, 223);
    
}

.cc{
    background-color: black;
}

.location{
    padding: 50px 90px;
    
}

.location h2{
    letter-spacing: 5px;
    font-weight:900;
}

.location h3{
    letter-spacing: 2px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.location p{
    color: grey;
    margin: 0 10px;
}

.num{
    line-height: 30px;
    display: flex;
    align-items: center;
}

.num a {
    text-decoration: none;
    color: grey;
}

.num a:hover{
    color: rgb(143, 12, 12);
    transition-duration: 0.2s;
}


.num img{
    width: 20px;
    padding: 10px 20px 10px 0;

}

.footer{
    /* background-color: black; */
    background-color: rgb(11, 11, 24);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}


